<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="movie trailer" icon-off="ion-social-youtube-outline" icon-on="ion-social-youtube" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="SHOP"   icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

 <ion-tab title="Radio Button"   icon-off="ion-ios-checkmark-outline" icon-on="ion-ios-checkmark" href="#/tab/Radio">
    <ion-nav-view name="tab-Radio"></ion-nav-view>
  </ion-tab>
  
</ion-tabs>
